JWT_SECRET_KEY=random_long_string_of_characters
JWT_TOKEN_EXPIRE_MINUTES=60
W_TO_GCO2=0.431 #value used for the conversion between Wh to CO2 emissions (works for italy only)
W_TO_GCO2_UNIT=kgCO2/kWh
ENABLE_PREDICTION= 0 #1 include in the server the api for calling tensorflow predction models, 0 exclude prediction calls
ENABLE_DEMO= 0 #1 load smart home configuration from demo files, 0 load smart home configuration from real Home Assistant installation
ENABLE_AUTHENTICATION= 0
HOST= 0.0.0.0
PORT= 8000
MONGOURL=mongodb://mongodb:27017/
MYSQL_HOST=mysql
MYSQL_USER=sail
MYSQL_PASSWORD=supersecurepassword
MYSQL_DATABASE=laravel
